* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.grid-item {
  border: solid rgb(0, 0, 0);
  overflow: hidden;
  border-width: thin;
}

.reset-grid {
  font-size: 1.5rem;
}
